---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GitHubSource__RepositoryQuery($queryString: String!)
        {\n  search(first: 50, query: $queryString, type: REPOSITORY) {\n    repositoryCount\n    nodes
        {\n      __typename\n      ... on Repository {\n        name\n        owner
        {\n          __typename\n          login\n        }\n        updatedAt\n        description\n        url\n      }\n    }\n  }\n}","variables":{"queryString":"language:ruby
        sort:updated_at"},"operationName":"GitHubSource__RepositoryQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 7036a2c8017f1075fa6d9cf411e56aef5f578188
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1584896150'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"search":{"repositoryCount":1848792,"nodes":[{"__typename":"Repository","name":"postit-solution","owner":{"__typename":"User","login":"justuswang"},"updatedAt":"2014-04-02T14:19:56Z","description":"The
        solution to postit app ","url":"https://github.com/justuswang/postit-solution"},{"__typename":"Repository","name":"first_railsapp","owner":{"__typename":"User","login":"khovann"},"updatedAt":"2014-02-23T17:37:03Z","description":null,"url":"https://github.com/khovann/first_railsapp"},{"__typename":"Repository","name":"lindaz_world","owner":{"__typename":"User","login":"lindaz"},"updatedAt":"2014-02-23T20:01:17Z","description":null,"url":"https://github.com/lindaz/lindaz_world"},{"__typename":"Repository","name":"puzzles","owne[...]
